*{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  color: aliceblue;
}
html{
  font-size: 10px;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
.blue-text{
  color: #60CFFF;
}
.website-text{
  font-size: 4rem;
  text-align: center;
  color: #CCCCCC;
}
.highlight{
  color: #04c2c9;
}
.underline{
  border: #CCCCCC 2px solid;
  max-width: 170px;
  margin: 12px auto 0px auto;
}
/*------------ Home Section---------- */ 

.home-section{
  height: 100%;
}
.home{
  background: linear-gradient(to top , rgb(0, 0, 0) , transparent) , linear-gradient(to left , rgba(0, 0, 0, 0.405) , transparent) , url(images/home-bg.jpg);
  min-height: 100%;
}
.image{
  position:static;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  max-width: 87rem;
  margin: auto;
}
.home-container{
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* color: aliceblue; */
  color: #CCCCCC;
  gap: 4rem;
}

.my-name{
  font-size: 3.48rem;
}
.container .details{
  font-size: 1.6rem;
}
.pink-color{
  color: #f33482;
}
.home-container h3{
  font-size: 23px;
}
.work span:hover{
  border: #04c2c9 solid;
  cursor: pointer;
}
.work span :hover{
  transition: 0.5s ;
  transform: rotate(90deg);
}

.work span{
  font-size: 18px;
  border: #fff 1pt solid;
  padding: 15px;
}


/*--------- Nav Section-------- */


nav{
  margin-top: -4px;
}
.navbar{
  position: sticky;
  top: 0;
  z-index:1;
  background-color: transparent ;
}
.navbar-container{
  display: flex;
  gap: 40px;
  padding: 20px 30px;
  background-color: black;
}
a{
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
}
.nav-button a:hover{
  transition: 0.7s;
  color:#f33482;
}
hr{
  border: 1.2px solid;
  color:aqua;
  background-color: aqua;
}


/* ------- About Section------- */
 
.about-section{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.957), rgba(0, 0, 0, 0.835)), url(https://deekshasharma.vercel.app/style/../img/bg2.jpg);
  min-height: 100%;
  max-width: 100%;
}
.mid-container{
  display: flex;
  flex-direction: column;
  padding: 120px 50px;
  gap: 100px;
  /* margin: auto; */
  max-width: 1200px;
}



/* ----About .website-functionalities----- */
.website-functionalities{
  display: flex;
  max-width: 100%;
  gap: 15px;
}
.two-functionality{
  display: flex;
  gap: 15px;
}
.functionality{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  gap: 15px;
}
.icon{
  margin: auto;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  background-color: #0097A2;
}
.particular-icon{
  padding: 18px 20px;
}
.icon i,img{
  width: 60px;
  height: 60px;
}
.functionalities-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.functionalities-text h1{
  font-size: 2rem;
  color: #BBBBBB;
}
.functionalities-text p{
  font-size: 1.3rem;
  color: #bbbbbbd0;
}


/* ------About my skills-------- */
.about-my-skills{
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  min-width:100%;
}
.about-myself{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  max-width: 50%;
}
.about-myself p{
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  color: #BBBBBB;
}
.about-myself h1{
  font-size: 2.5rem;
  color: #BBBBBB;
}

/* ---ABOUT skill sets--- */
.skill-sets{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 20px;
}

.skill-component{
  display: flex;
  justify-content: space-between;
  max-height: 15px;
  width: 100%;
}
.which-language{
  /* margin: auto; */
  text-align: center;  
  background-color: #101214;
  min-width: 110px;
  font-size: 13px;
}
.language{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.how-much-known{
  border: none;
  background-color: #56888A;
}

.ninty-percent{
  width: 85%;
}
.eighty-percent{
  width: 75%;
}
.seventy-percent{
  width: 65%;
}
.seventy-five-percent{
  width: 70%;
}
.how-much-percent{
  min-height: 100%;
  font-size: 1.3rem;
  border: none;
  text-align: center;
  min-width: 5%;
  color: #858585;
}



/* ---------Project section-------- */

ul{
  list-style: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}
.project-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.933), rgba(0, 0, 0, 0.91)), url(images/project-bg.jpg);
  min-height: 100%;
  padding: 50px 0px;
}

.project-container{
  max-width: 85%;
  margin: auto;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120%;
  margin-bottom: 20px;
  color: #fff;
}

.filter-menu{
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 2rem;
  text-transform: uppercase;
}
.filter-menu li{
  max-width: 20%;
  padding: 4px 35px;
  color: #CCCCCC  ;
  cursor: pointer;
}

.filter-menu li.current{
  background: #f33482;
}

.filter-item li{
  height: 200px;
  width: 24.5%;
  padding: 3px;
  float: left;
}

.filter-item li.active{
  width: 24.5%;
  padding: 3px;
  transition: all 0.9s ease;
}

.filter-item li.delete{
  width: 0%;
  padding: 0;
  transition: all 0.6s ease;
}

.filter-item img{
  display: block;
  width: 100%;
  height: 100%;
}
.filter-item li :hover{
  opacity: 0.7;
  transition-duration: 0.5s;
  transition-timing-function: ease;   
  border-radius: 2px;

  -moz-box-shadow: 12px 12px 13px rgb(121, 120, 120);    
  -webkit-box-shadow: 12px 12px 13px rgb(70, 69, 69);
  box-shadow: 0 0 5px rgb(251, 251, 251);
}


/* ---------Contact Section-------- */
.contact-section{
  background-image: url("images/star-falling.jpg");
  min-height: 500px;
}

.contact-container{
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  text-align: center;
  gap: 50px;
}

.p-tags{
  font-size: 15px;
  letter-spacing: -1px;
}

.input-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 90%;
  margin: auto;
}
input,textarea,button{
  max-width: 500px;
  min-height: 30px;
  background: #1e242c00;
  border: 0.5px solid #fff;
}

.form-element{
  resize: none;
  padding: 3px 10px;
}

.success-message{
  display: flex;
  background-color: #00c381a8;
}
#success{
  color: #000000;
  min-width: 95%;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
}
.fa-xmark{
  font-size: 1.5rem;
  margin-top: 6px;
  margin-right: 12px;
  color: black;
}
.fa-xmark:hover{
  cursor: pointer;
}

.button {
  background: transparent;
  color: #fff;
  align-self: flex-end;
  font-size: 11pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 25px;
}
.button:hover {
  transition: 0.7s;
  cursor: pointer;
  background-color: #04c2c9;
}


/* ------Footer Section-------- */
.upward-arrow{
  margin-top: -15px;
  position: relative;
  z-index: 10;
}
.upward-arrow i{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}


footer{
  min-height: 180px;
  background-color: #101214;
}

.footer{
  padding:  60px 0px 0px 0px;
  gap: 8rem;
  max-width: 40rem;
}
.social-medias{
  display: flex;
  justify-content: space-between;
}
.big-icon{
  font-size: 1.73em;
}
.copyright-text{
  font-size: 1.6em;
  padding-top: 50px;
  text-align: center;
}


/* Media Query.. */
@media (min-width:900px) and (max-width:1300px){
  .mid-container{
    padding: 120px 50px;
  }
  .about-myself h1{
    word-spacing: 5px;    
    }

    .project-container{
      max-width: 95%;
    }
  .filter-item li.active,
  .filter-item li{
    width: 24.5%;
    padding: 2px;
  }
  h2{
    font-size: 270%;
}
}
@media (min-width:500px) and (max-width:900px){
  .website-text{
    font-size: 3.5rem;
  }
  .underline{
    border: #CCCCCC 1.2px solid;
    max-width: 130px;
    margin: 5px auto 0px auto;
  }

/* ------About my skills-------- */
.about-my-skills{
  flex-direction: column;
  gap: 80px;
}
.about-myself{
  gap: 20px;
  min-width: 100%;
}
.about-myself p{
  font-size: 1.5rem;
}
.about-myself a p{
  font-size: 1.6rem;
}
.about-myself h1{
  font-size: 2.7rem;
  color: #BBBBBB;
}
 
  /* ---Project Section-- */
  .project-container{
    max-width: 95%;
  }
  .filter-menu{
    min-width: 60%;
    font-size: large;
  }
  .filter-menu li{
    padding: 3px 25px;
  }
  .filter-item{
    margin: auto;
  }
  .filter-item li.active,
  .filter-item li{
      height: 170px;
      width: 32.63%;
      padding: 1.5px;
  }
  h2{
      font-size: 190%;
  }

  
/* ----website .functionality---- */

.website-functionalities{
  display: flex;
}
.two-functionality{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.icon{
  width: 100px;
  height: 100px;
}
.functionalities-text{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.functionalities-text h1{
  font-size: 2.2rem;
}
.functionalities-text p{
  font-size: 1.6rem;
}

  
}

@media(max-width:750px){
  .website-text{
    font-size: 3rem;
  }  
  .about-myself a span{
    font-size: 1.5rem;
  }
  .mid-container{
    padding: 80px 40px;
    gap: 80px;
  }

/* ------About my skills-------- */
.about-my-skills{
  flex-direction: column;
  gap: 80px;
}
.about-myself{
  gap: 18px;
  min-width: 100%;
}

  /* ---Project Section-- */
  .project-container{
    max-width: 95%;
  }
  
  .filter-menu{
    font-size: 1.5rem;
  }
  .filter-menu li{
    padding: 3px 20px;
  }
  .filter-item li.active,
  .filter-item li{
      width: 48.2%;
      height: 170px;
      padding: 3px;
    }
  .big-icon{
    font-size: 1.43em;
  } 
/* ----website .functionality---- */

  .functionalities-text h1{
    font-size: 2rem;
  }
  .functionalities-text p{
    font-size: 1.2rem;
  }


}

@media (min-width:200px) and (max-width:500px){
  .website-text{
    /* font-size: 1.2rem; */
  }
  .underline{
    border: #CCCCCC 0.9px solid;
    max-width: 80px;
    margin: 4px auto 0px auto;
  }

  /* ---Home section---- */
  .my-name{
    font-size: 3rem;
  }
  .container .details{
    font-size: 1.3rem;
  }
  .work span{
    font-size: 1.5rem;
    border: #fff 1pt solid;
    padding: 8px;
  }
/* ----Navbar--- */
.navbar-container{
  margin: auto;
  justify-content: space-between;
  padding: 10px 20px;
}
a{
  font-size: 1.2rem;
}
  .about-myself p{
    font-size: 1.3rem;
  }
  .about-myself a span{
    font-size: 1.3rem;
  }
  .mid-container{
    padding: 80px 40px;
    gap: 50px;
  }

/* ------About my skills-------- */


.about-my-skills{
  flex-direction: column;
  gap: 80px;
}
.about-myself{
  gap: 18px;
  min-width: 100%;
}
.which-language{
  min-width: 90px;
}
/* ---Website Functionalities--- */

.website-functionalities{
  display: flex;
}
.two-functionality{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.icon{
  width: 100px;
  height: 100px;
}
.functionalities-text{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.two-functionality{
  gap: 15px;
}
.icon{
  width: 100px;
  height: 100px;
}
.functionality{
  gap: 10px;
}
.functionalities-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 85px;
}
.functionalities-text h1{
  font-size: 1.8rem;
}
.functionalities-text p{
  font-size: 1.2rem;
}
/* ---Project section--- */
.filter-menu{
  min-width: 60%;
  font-size: 1.3rem;
}
.filter-menu li{
  max-width: 20%;
  padding: 2px 15px;
}
  .filter-item li.active,
  .filter-item li{
      width: 100%;
      height: 200px;
  }
  .footer{
    padding:  60px 0px 0px 0px;
    /* gap: 8rem; */
    max-width: 30rem;
  }
  .big-icon{
    font-size: 1.43em;
  }

  /* ----contact section--- */
  .p-tags{
    font-size: 15px;
    word-spacing: 3px;
  }
}



